@import 'nib'
@import '../sass/app.css'

flex-version = flex
support-for-ie = false
vendor-prefixes = official

.fz-0
	font-size 0

.state-icon
	left -5px
.list-group-item-primary
	color rgb(255, 255, 255)
	background-color rgb(66, 139, 202)
.well .list-group
	margin-bottom 0px

//Профиль
@import 'profile/profile.styl'
//Модальные окна
@import 'modals/modals.styl'
//Заявки
@import 'orders/orders.styl'
//Новости
@import 'articles/articles.styl'
//Услуги
@import 'services/services.styl'
//Шапка
@import 'nav/nav.styl'