@import 'nib'
@import '../sass/app.css'

flex-version = flex
support-for-ie = false
vendor-prefixes = official

//Модальные окна
@import 'modals/modals.styl'
//Заявки
@import 'orders/orders.styl'
//Новости
@import 'articles/articles.styl'