.modal-h1
	.table th,
	.table td 
		vertical-align middle
	.modal-footer
		justify-content center
	textarea
		height 125px
		resize none
	.btn.btn-modal 
		width 48%
		&:first-of-type
			margin-right 2%
		&:last-of-type
			margin-left 2%