.orders
	.input-group-text
		justify-content center
		background transparent
		border none
	.th-center
		text-align center
	.btn 
		width 100%
	td, th
		vertical-align middle
	.pagination
		justify-content center
	.alert
		margin-bottom 0
		padding 0.5rem 1.25rem
	.alerts-wrap .alert
		font-weight bold
		font-size 0.7rem